/* global delcalarations */
:root {
    --page-size: 5;
    --page-width: calc(16*var(--page-size, 3));
    --page-height: calc(10*var(--page-size, 3));
}
/*
*, *::after, *::before {
    box-sizing: border-box;
}
*/
body {
    background-color: darkslategray;
    color: black;
}
/* table of contents
    - 1 page container
    - 2 page contents
        - a header & footer
        - b lists
        - c menu
*/
/* 1 - page container */
.page {
    background-color: forestgreen;
    border: 1px solid black;
    padding: 1rem;
    width: calc(var(--page-width, 48)*1rem);
    height: calc(var(--page-height, 30)*1rem);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 7.5fr 1fr;
    grid-gap: 1rem;
}
/* 2 - page contents */
.page-contents {
    background-color: palegoldenrod;
    border: 1px solid black;
    padding: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
}
/* 2 a - header & footer */
header, footer {
    background-color: palegoldenrod;
    border: 1px solid black;
}
header {
    align-self: start;
    text-align: center;
    padding: 1rem;
}
footer {
    align-self: end;
    text-align: right;
    padding: 1rem;
}
/* 2 b - lists */
.lists {
    background-color: red;
    border: 1px solid black;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
}
.list {
    background-color: seagreen;
    border: 1px solid black;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
    grid-gap: 1rem;
    text-align: center;
}
.list-item {
    background-color: orangered;
    border: 1px solid black;
    text-align: center;
    cursor: move;
}
.list-item.dragging {
    opacity: 0.5;
}
/* 2 c - menu */
.menu {
    background-color: steelblue;
    border: 1px solid black;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 3fr;
    grid-gap: 1rem;
}
.buttons {
    background-color: rebeccapurple;
    border: 1px solid black;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.button {
    background-color: salmon;
    border: 1px solid black;
    text-align: center;
}
.new-item-description {
    background-color: slateblue;
    border: 1px solid black;
    text-align: center;
}